{
  "extends": "eslint:recommended",
  "rules": {
    // possible errors
    "no-cond-assign": ["error", "always"],
    "no-console": "error",
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty-character-class": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": ["error", "both"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": ["error", { "skipComments": false }],
    "no-obj-calls": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "use-isnan": "error",
    "valid-typeof": "error",

    // best practices
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "complexity": ["error", { "max": 6 }],
    "consistent-return": "error",
    "curly": "error",
    "default-case": "error",
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-magic-numbers": ["error", { "ignore": [], "ignoreArrayIndexes": true, "enforceConst": true }],
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-octal": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "no-with": "error",
    "prefer-promise-reject-errors": "error",
    "radix": ["error", "as-needed"],
    "require-await": "error",
    "yoda": ["error", "never"],

    // strict mode
    "strict": "error",

    // variables
    "no-delete-var": "error",
    "no-label-var": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": ["error", { "builtinGlobals": true, "allow": ["event", "Request", "Cache"] }],
    "no-undef-init": "error",
    "no-undef": "error",
    "no-undefined": "error",
    "no-unused-vars": "off", // ESLint is unable to see into docblocks or flow comments
    "no-use-before-define": "off", // Handled by temporal dead zones of let and const

    // node.js and commonjs
    "callback-return": "error",
    "global-require": "error",
    "handle-callback-err": "error",
    "no-mixed-requires": "error",
    "no-new-require": "error",
    "no-path-concat": "error",
    "no-process-exit": "error",
    "no-sync": "error",

    // stylistic issues
    "array-bracket-spacing": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "camelcase": "error",
    "capitalized-comments": "off",
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "consistent-this": ["error", "instance"],
    "eol-last": "error",
    "func-call-spacing": "error",
    "func-name-matching": "error",
    "func-names": "error",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "id-length": ["error", { "max": 40, "exceptions": ["i", "j", "n", "x", "y", "_"] }],
    "indent": ["error", 2, { "SwitchCase": 1, "MemberExpression": 2, "FunctionDeclaration": { "parameters": 1 }, "FunctionExpression": { "parameters": 1 }, "CallExpression": { "arguments": 1 } }],
    "jsx-quotes": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": "error",
    "lines-around-comment": ["error", { "allowBlockStart": true }],
    "lines-around-directive": "error",
    "max-depth": ["error", 3],
    "max-len": ["error", { "code": 80 }],
    "max-lines": ["error", { "skipBlankLines": true, "skipComments": true }],
    "max-nested-callbacks": ["error", 2],
    "max-params": ["error", 9],
    "max-statements-per-line": "error",
    "max-statements": ["error", 30],
    "new-cap": "error",
    "new-parens": "error",
    "newline-per-chained-call": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-lonely-if": "error",
    "no-mixed-operators": ["error", { "groups": [["&", "|", "^", "~", "<<", ">>", ">>>"], ["&&", "||"]] }],
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-assign": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1, "maxBOF": 1 }],
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": ["error", { "ObjectExpression": { "multiline": true, "minProperties": 2 }, "ObjectPattern": "never" }],
    "object-curly-spacing": ["error", "always", { "arraysInObjects": true, "objectsInObjects": true }],
    "object-property-newline": "error",
    "one-var-declaration-per-line": ["error", "always"],
    "one-var": ["error", "never"],
    "operator-assignment": "error",
    "operator-linebreak": ["error", "before", { "overrides": { "?": "after", "&&": "after", "+": "ignore", ":": "ignore" } }],
    "padded-blocks": ["error", { "blocks": "never", "classes": "never", "switches": "never" }],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": "error",
    "unicode-bom": "error",

    // ECMAScript2015
    "arrow-body-style": "error",
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "constructor-super": "error",
    "generator-star-spacing": ["error", "after"],
    "no-class-assign": "error",
    "no-confusing-arrow": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-new-symbol": "error",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": ["error", { "allowUnboundThis": false }],
    "prefer-const": "warn",
    "prefer-destructuring": "error",
    "prefer-numeric-literals": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "require-yield": "error",
    "rest-spread-spacing": "error",
    "symbol-description": "error",
    "template-curly-spacing": "error",
    "yield-star-spacing": "error"
  },
  "plugins": [
  ],
  "settings": {
    "ecmascript": 2017,
    "jsx": false
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  }
}
